@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 96px;
  }
  .about-containers {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 32px;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 32px;
  }
  .about-containers {
    margin-top: 0;
  }

  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
      margin-top: 100px;
    }
    #profile {
      height: 83vh;
      margin-bottom: 0;
    }
    article {
      font-size: 16px;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 32px;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 16px;
    }
    .experience-subtitle {
      font-size: 20px;
    }
    .logo {
      font-size: 24px;
    }
    .nav-links {
      margin-top: 350px;
      flex-direction: row;
      gap: 15px;
      text-align: center;
    }
    .section__pic-container {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    .section__text__p2 {
      font-size: 20px;
    }
    .title {
      font-size: 32px;
    }
    .text-container {
      text-align: justify;
    }

    /* Contact */
    .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .contact-left {
      margin-left: 0;
    }

    .contact-left h1{
        text-align: center;
    }
    .contact-right {
      width: 90%;
      margin: 0 auto;
    }

    .socials-icon {
      justify-content: center;
    }

    form input,
    form textarea {
      font-size: 18px;
      padding: 15px;
    }

    #submited-message{
    color: blue;
    margin-top: -1px;
    display: block;
}

  }
}
